<div class="row">
  <div class="col-lg-12 ">
    <button class="btn btn-outline-success" (click)="login()"> Login</button>
    <button class="btn btn-outline-dark" (click)="logOut()"> LogOut</button>
<p [ngClass]="{'loginSucess':condition,'loginFalse':!condition}">{{status}}</p>
  </div>
</div>
<div class="row ">
  <div class="col-lg-12 d-flex justify-content-center">
<button class="btn btn-outline-primary m-5" routerLink="/Dashboard" >DashBoard</button>
<button class="btn btn-outline-danger m-5" routerLink="/list">LIST of people</button>
<!-- <p [ngClass]="{'loginSucess':condition,'loginFalse':!condition}">{{status}}</p> -->

</div>
<div class="col-lg-12 d-flex justify-content-center">
  <div class="alert alert-danger text-dark w-100 " style="text-align: center " *ngIf="!condition">LOGIN TO CONTINUE</div>
</div>

</div>
<router-outlet></router-outlet>